{
    "openapi": "3.0.0",
    "servers": [{ "url": "https://edraj.io/api" }],
    "info": {
        "description": "This is work-in-progress for edraj api.  You can find out more about it at [https://edraj.io](https://edraj.io).",
        "version": "0.0.1",
        "title": "Edraj Api Specifications",
        "termsOfService": "https://edraj.io/public/terms/",
        "contact": { "email": "kefah.issa@gmail.com" },
        "license": {
            "name": "GPL v3.0",
            "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
        }
    },
    "tags": [
        { "name": "entry", "description": "entry api operations" }
    ],
    "paths": {
        "/entry": {
            "post": {
                "tags": ["entry"],
                "summary": "entry operation",
                "description": "entry operations",
                "operationId": "entry",
                "requestBody": {
                    "description": "Request object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": { "$ref": "#/components/schemas/Request" }
                        }
                    }
                },
                "responses": { "200": { "description": "response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Response" } } } } }
            }
        }
    },
    "components": {
        "schemas": {
            "Geopoint": {
                "type": "object",
                "description": "Geo coordinates",
                "properties": {
                    "latitude": { "type": "number", "description": "Latitude" },
                    "longitude": { "type": "number", "description": "Longitude" }
                },
                "required": ["latitude", "longitude"]
            },
            "Address": {
                "type": "object",
                "properties": {
                    "Geopoint": { "$ref": "#/components/schemas/Geopoint" },
                    "Line1": { "type": "string" },
                    "Line2": { "type": "string" },
                    "Zipcode": { "type": "string" },
                    "City": { "type": "string" },
                    "State": { "type": "string" },
                    "Country": { "type": "string" }
                }
            },
            "Contact": {
                "type": "object",
                "properties": {
                    "Type": { "type": "string", "enum": ["Email", "LandPhone", "Mobile", "Twitter", "Facebook", "Skype", "Linkedin"] },
                    "Value": { "type": "string" }
                }
            },
            "Identity": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Prettyname": { "type": "string" },
                    "Shortname": { "type": "string" },
                    "Type": { "type": "string" },
                    "Keys": {
                        "type": "object",
                        "properties": {
                            "Name": { "type": "string" },
                            "Publickey": { "type": "string" }
                        }
                    },
                    "Domain": { "type": "string" }
                }
            },
            "Signature": {
                "type": "object",
                "properties": {
                    "Identity": { "$ref": "#/components/schemas/Identity" },
                    "Signature": { "type": "string" },
                    "Keyname": { "type": "string" },
                    "FieldsSigned": { "type": "array", "items": { "type": "string" } }
                }
            },
            "ActorGroup": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Name": { "type": "string" },
                    "Members": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } }
                }
            },
            "Actor": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Prettyname": { "type": "string" },
                    "Shortname": { "type": "string" },
                    "Biography": { "type": "string" },
                    "Domain": { "type": "string" },
                    "Comms": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } },
                    "Contacts": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } },
                    "RelatedActors": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } },
                    "BannedActors": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } },
                    "ActorGroups": { "type": "array", "items": { "$ref": "#/components/schemas/ActorGroup" } },
                    "organizations": { "type": "array", "items": { "type": "string" } }
                }
            },
            "Workgroup": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Displayname": { "type": "string" },
                    "Shortname": { "type": "string" },
                    "Keys": { "type": "array", "items": { "$ref": "#/components/schemas/Keypair" } },
                    "Members": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } },
                    "Permissions": { "type": "array", "items": { "$ref": "#/components/schemas/Permission" } }
                }
            },
            "Attachment": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Name": { "type": "string" },
                    "Checksum": { "type": "object", "properties": { "algorithm": { "type": "string", "enum": ["md5", "sha256"] }, "value": { "type": "string" } } },
                    "Size": { "type": "integer" },
                    "MediaType": { "$ref": "#/components/schemas/MediaType" },
                    "Signature": { "$ref": "#/components/schemas/Signature" },
                    "References": { "type": "array", "items": { "type": "string", "format": "uuid" } },
                    "Binary": { "type": "string", "format": "binary" },
                    "Text": { "type": "string" },
                    "Path": { "type": "string" },
                    "URL": { "type": "string" }
                }
            },
            "Message": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "ThreadId": { "type": "string", "format": "uuid" },
                    "Recipients": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } },
                    "Sender": { "$ref": "#/components/schemas/Identity" },
                    "Timestamp": { "type": "string", "format": "date-time" },
                    "Geopoint": { "$ref": "#/components/schemas/Geopoint" },
                    "Subject": { "type": "string" },
                    "Body": { "type": "string" },
                    "Attachments": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } }
                }
            },
            "Permission": {
                "type": "object",
                "properties": {
                    "Type": { "type": "string", "enum": ["admin", "write", "read", "delete", "query", "manage_reactions"] },
                    "Actors": { "type": "array", "items": { "$ref": "#/components/schemas/Identity" } },
                    "Groups": { "type": "array", "items": { "$ref": "#/components/schemas/ActorGroup" } }
                }
            },
            "MediaType": {
                "type": "string",
                "enum": ["image/png", "audio/mp3", "video/mp4", "sqlite", "markdown", "plain_text", "document", "structured", "application/json"]
            },
            "Change": {
                "type": "object",
                "properties": {
                    "when": { "type": "string", "format": "date-time" },
                    "who": { "type": "string", "format": "uuid" },
                    "what": { "type": "string", "format": "binary" }
                }
            },
            "Content": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Shortname": { "type": "string" },
                    "Displayname": { "type": "string" },
                    "Title": { "type": "string" },
                    "Signature": { "$ref": "#/components/schemas/Signature" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "Geopoint": { "$ref": "#/components/schemas/Geopoint" },
                    "Body": { "type": "string" },
                    "Tags": { "type": "array", "items": { "type": "string" } },
                    "Categories": { "type": "array", "items": { "type": "string" } },
                    "Permissions": { "type": "array", "items": { "$ref": "#/components/schemas/Permission" } },
                    "Attachments": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } },
                    "History": { "type": "array", "items": { "$ref": "#/components/schemas/Change" } }
                }
            },
            "Comment": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Actor": { "$ref": "#/components/schemas/Identity" },
                    "Timestamp": { "type": "string", "format": "date-time" },
                    "Geopoint": { "$ref": "#/components/schemas/Geopoint" },
                    "ParentComment": { "type": "string", "format": "uuid" },
                    "ContentID": { "type": "string", "format": "uuid" },
                    "Text": { "type": "string" }
                }
            },
            "Reaction": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "Actor": { "$ref": "#/components/schemas/Identity" },
                    "Timestamp": { "type": "string", "format": "date-time" },
                    "ContentID": { "type": "string", "format": "uuid" },
                    "Geopoint": { "$ref": "#/components/schemas/Geopoint" },
                    "Type": { "type": "string", "enum": ["like", "dislike", "love", "sad", "angry", "laugh", "disgusted"] }
                }
            },
            "Container": {
                "type": "object",
                "properties": {
                    "ID": { "type": "string", "format": "uuid" },
                    "OwnerID": { "type": "string", "format": "uuid" },
                    "Timestamp": { "type": "string", "format": "date-time" },
                    "Displayname": { "type": "string" },
                    "Shortname": { "type": "string" },
                    "Tags": { "type": "array", "items": { "type": "string" } },
                    "Categories": { "type": "array", "items": { "type": "string" } },
                    "Permissions": { "type": "array", "items": { "$ref": "#/components/schemas/Permission" } }
                }
            },
            "Notification": {
                "type": "object",
                "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "when": { "type": "string", "format": "date-time" },
                    "who": { "type": "string", "format": "uuid" },
                    "what": { "type": "string", "format": "binary" }
                }
            },
            "Layout": {
                "type": "object",
                "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "menu": { "type": "string" },
                    "tempate": { "type": "string" }
                }
            },
            "Page": {
                "type": "object",
                "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "tempate": { "type": "string" },
                    "blocks": { "type": "array", "items": { "type": "string", "format": "uuid" } }
                }
            },
            "Block": {
                "type": "object",
                "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "filter": { "type": "object" },
                    "tempate": { "type": "string" }
                }
            },
            "Query": {
                "type": "object",
                "properties": {
                    "EntryType": { "type": "string" },
                    "Text": { "type": "string" },
                    "DateRange": { "type": "string" },
                    "Sort": { "type": "string" },
                    "Path": { "type": "string" },
                    "Owner": { "type": "string" },
                    "Tags": { "type": "string" },
                    "Categories": { "type": "string" },
                    "Fields": { "type": "string" },
                    "Offset": { "type": "string" },
                    "Limit": { "type": "string" }
                }
            },
            "Entry": {
                "type": "object",
                "properties": {
                    "Further": { "type": "array", "items": { "type": "object" } },
                    "Actor": { "$ref": "#/components/schemas/Actor" },
                    "Addon": { "$ref": "#/components/schemas/Addon" },
                    "Attachment": { "$ref": "#/components/schemas/Attachment" },
                    "Block": { "$ref": "#/components/schemas/Block" },
                    "Comment": { "$ref": "#/components/schemas/Comment" },
                    "Container": { "$ref": "#/components/schemas/Container" },
                    "Content": { "$ref": "#/components/schemas/Content" },
                    "Crawler": { "$ref": "#/components/schemas/Crawler" },
                    "Domain": { "$ref": "#/components/schemas/Domain" },
                    "Message": { "$ref": "#/components/schemas/Message" },
                    "Miner": { "$ref": "#/components/schemas/Miner" },
                    "Notification": { "$ref": "#/components/schemas/Notification" },
                    "Reaction": { "$ref": "#/components/schemas/Reaction" },
                    "Schema": { "$ref": "#/components/schemas/Schema" },
                    "Workgroup": { "$ref": "#/components/schemas/Workgroup" }
                }
            },
            "Addon": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Crawler": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Domain": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Miner": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Schema": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Keypair": {
                "type": "object",
                "properties": {
                    "Name": { "type": "string" }
                }
            },
            "Request": {
                "type": "object",
                "properties": {
                    "Signature": { "$ref": "#/components/schemas/Signature" },
                    "Verb": { "type": "string", "enum": ["GET", "QUERY", "UPDATE", "CREATE", "DELETE"] },
                    "EntryType": { "type": "string" },
                    "EntryID": { "type": "string" },
                    "Entry": { "$ref": "#/components/schemas/Entry" },
                    "Query": { "$ref": "#/components/schemas/Query" }
                }
            },

            "Response": {
                "type": "object",
                "properties": {
                    "Code": { "type": "integer", "format": "int32" },
                    "Status": { "type": "string" },
                    "Message": { "type": "string" },
                    "Total": { "type": "integer", "format": "int32" },
                    "Returned": { "type": "integer", "format": "int32" },
                    "Entries": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } }
                },
                "required": ["code", "status"]
            }
        },
        "responses": {},
        "parameters": {},
        "examples": {},
        "requestBodies": {},
        "securitySchemes": {},
        "headers": {},
        "links": {},
        "callbacks": {}
    },
    "security": []
}